<form method="post" action="/events">
  <input type="text" placeholder="title" name="event[title]">
  <input type="text" placeholder="location" name="event[location]">
  <input type="date" placeholder="date" name="event[date]">
  <textarea type="text" placeholder="description" name="event[description]"></textarea>

  <input type="submit" value = "Create Event">
</form>
